<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>${project.name} - ${project.version}</display-name>
	<description>${project.description}</description>

	<servlet>
		<servlet-name>SLwebstart_launcher</servlet-name>
		<servlet-class>org.weasis.servlet.SLwebstart_launcher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManifestManager</servlet-name>
		<servlet-class>org.weasis.servlet.ManifestManager</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WeasisLauncher</servlet-name>
		<servlet-class>org.weasis.servlet.WeasisLauncher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WeasisAppletLauncher</servlet-name>
		<servlet-class>org.weasis.servlet.WeasisAppletLauncher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuildManifest</servlet-name>
		<servlet-class>org.weasis.servlet.BuildManifest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestManifest</servlet-name>
		<servlet-class>org.weasis.servlet.RequestManifest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SLwebstart_launcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeasisLauncher</servlet-name>
		<url-pattern>/viewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeasisLauncher</servlet-name>
		<url-pattern>/IHEInvokeImageDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeasisAppletLauncher</servlet-name>
		<url-pattern>/viewer-applet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuildManifest</servlet-name>
		<url-pattern>/manifest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestManifest</servlet-name>
		<url-pattern>/RequestManifest</url-pattern>
	</servlet-mapping>
</web-app>
